<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h2>Welcome to URL Template!</h2>
        <p><a href="{% url 'basic_app:others1' %}">OTHERS PAGE </a></p>
        <p><a href="{% url 'admin:index' %}">  ADMIN PAGE </a></p>
        <p><a href="{% url 'index' %}"> INDEX PAGE </a></p>
      </div>
    </div>
  </body>
</html>
